doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/main.css")

    script(defer , src="https://www.gstatic.com/charts/loader.js")
    script(defer , src="/js/extendProtoType/stringExtend.js")
    script(defer , src="/js/extendProtoType/functionProtoExtend.js")
    script(defer , src="/js/utils/observer.js")
    script(defer , src="/js/utils/common.js")
    script(defer , src="/js/layout/headerMenu.js")
    script(defer , src="/js/layout/rightSideMenu.js")
    script(defer , src="/js/chart/component.js")
    script(defer , src="/js/chart/ballChart.js")
    script(defer , src="/js/chart/scatterChart.js")
    script(defer , src="/js/chart/sectionChart.js")
    script(defer , src="/js/chart/pieChart.js")
    script(defer , src="/js/chart/lineChart.js")
    script(defer , src="/js/chart/barChart.js")
    script(defer , src="/js/chart/tableChart.js")
    script(defer , src="/js/chart/chartFactory.js")
    script(defer , src="/js/layout/chartsContainer.js")
  body
  
  #rootContainer
  
  #previewTop
  #previewRight
  #previewBottom
  #previewLeft
  
  script.
    document.addEventListener("DOMContentLoaded", function(){
      new ChartsContainer().init();
    });
    

    
    

    
    