doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/main.css")

    script(defer , src="/js/extendProtoType/functionProtoExtend.js")
    script(defer , src="/js/utils/common.js")
    script(defer , src="/js/utils/clientsWebSocket.js")
    script(defer , src="/js/workingHistory.js")
    script(defer , src="/js/layout/headerMenu.js")
    script(defer , src="/js/layout/rightSideMenu.js")
    script(defer , src="/js/layout/contentsContainer.js")
  body
  
  #rootContainer
  

  script.
    document.addEventListener("DOMContentLoaded", function(){
      
      var contentsContainer = new ContentsContainer();
      var subContainerSize = 3;
      
      contentsContainer.init(subContainerSize);
      
    });
    

    
    
    
    
    