@charset "UTF-8";

/* ::-webkit-scrollbar { */
/*     width: 0px;  */
/*     background: transparent;   */
/* } */
/* ::-webkit-scrollbar-thumb { */
/*     background: #FF0000; */
/* } */

html,body {
	height: 100%;
}
body {
	background-color: #000
}

#rootContainer{
	height: 100%;
    width: calc(100% - 2px);
    
}

.header{
	width: 100%;
	height: 50px;
   	background-color: #353535;
    border: solid 1px #232323;
}

.header ul {
	height: 100%;	
	display: table;
	margin: 0 auto;
}

.header ul li{
	height: 100%;
	vertical-align: middle;
	display: table-cell;
    padding: 0 10px;
    color: #cacaca;
    cursor: pointer;
}

.right_menu {
    position: fixed;
    z-index : 1;
    right: -300px;
	width : 300px;
    height: calc(100% - 54px);
    border: solid 1px gray;
    background-color: #353535;
   	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.right_menu .right_menu_table{
	height: 100%;
	overflow-y: scroll;
}

.right_menu .right_menu_table th{
	border: solid 1px gray;
	padding:5px;
}

.right_menu .right_menu_table td{
	border: solid 1px gray;
	padding:5px;
}

.right_menu .right_menu_table_options{
	height: 30px;
    border: solid 1px #cacaca;
  	margin-bottom: 15px;
  	padding: 5px 0;
}

.right_menu .right_menu_table_options ul{
	height: 100%;
}

.right_menu .right_menu_table_options li {
	float : left;
	height: 100%;
	width: 50px;
    cursor: pointer;
	
}

.right_menu .right_menu_table_options .right_menu_table_sync_btn {
	background-image: url("/img/iconmonstr-redo-1_reverse.png");
	background-repeat: no-repeat, repeat;
    background-position: center center;
}

.right_menu .right_menu_table_options .right_menu_table_remove_btn {
	background-image: url("/img/if_editor-trash-delete-recycle-bin-glyph_763325_reverse.png");
	background-repeat: no-repeat, repeat;
    background-position: center center;
}

.right_menu .right_menu_table_options .right_menu_table_restore_btn {
	background-image: url("/img/iconmonstr-undo-7_reverse.png");
	background-repeat: no-repeat, repeat;
    background-position: center center;
}

.right_menu .right_menu_table_options .right_menu_table_protect_btn {
	background-image: url("/img/iconmonstr-shield-5_reverse.png");
	background-repeat: no-repeat, repeat;
    background-position: center center;
}


.right_menu .right_menu_table_options .right_menu_table_unprotect_btn {
	background-image: url("/img/iconmonstr-shield-14_reverse.png");
	background-repeat: no-repeat, repeat;
    background-position: center center;
}

.right_menu div table {
	width: 100%;
    color: #cacaca;
    padding : 10px;
}

i {
    border: solid #cacaca;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
}

.right_menu_arrow {
    position: absolute;
	left: -25px;
	top: 50%;
	cursor: pointer;
}

.right_menu_arrow i {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right_menu_arrow .active {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
   	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.component_wrapper {
  	position: absolute;
}

.partition {
   z-index: 10;
   position: absolute;
   background-color: gray;
}

.partition:hover {
   background-color :#353535;
}

.partition.horizontal  {
    cursor : n-resize;
    display : block;
}

.partition.vertical  {
    cursor : e-resize;
    display : inline-block;
}

#previewTop, #previewRight, #previewBottom, #previewLeft {
	position: fixed;
	border: dashed 1px white;
}

  
  
  
  

